<div class="grid_12" id="header">
	<div id="login_tab" class="<%= "big" if current_organization %>">
	   <% if current_organization %>
	      <p>
					<%= "#{t('hello')} #{current_organization.name}" %><br>
					<%= link_to t('.go_to_admin_area'), admin_root_path %><br>
					<%= link_to t('.exit'), destroy_organization_session_path, method: :delete, class: 'red' %>
	      </p>
	      <div class="square_logo micro">
	        <%= image_tag current_organization.logo(:micro) %>
	      </div>

	   <% else  %>
		 	<%= link_to t('.enter'), new_organization_session_path %>
	   <% end %>

	</div>

	<div id="logo_search_container" class="clearfix">
		<%= link_to (image_tag 'logo.png', title: 'Non Riservato', id: 'logo'), root_path %>
		<%# link_to (image_tag "banner_gallab.png", :title => "Sostieni il Gallab", :id => "banner_gallab"), "https://www.eppela.com/it/projects/9112-realizziamo-il-gallab-non-riservato?t=contributors" %>
		<%= image_tag "5-nr.png", class: 'x1000' %>

	   <form action="<%# search_url %>" id="search_nr">
	       <input type="hidden" name="cx" value="001621681078880853769:bs9kq8zsatc" />
	       <input type="hidden" name="cof" value="FORID:9" />
	       <input type="hidden" name="ie" value="UTF-8" />
	       <%= text_field :qasd, nil, placeholder: "cerca nel sito", id: 'q', name: 'q' %>
	       <input type="image" src="/assets/freccia_search.png" name="sa" id="search_button" />
	   </form>

		<div class="social_icons">
		  <%= link_to (image_tag "social_icons/facebook.png", :title => "Facebook"), "https://www.facebook.com/pages/NON-Riservato/438274402925876?fref=ts", target: "_blank" %>
		  <%= link_to (image_tag "social_icons/instagram.png", :title => "Instagram"), "https://instagram.com/nonriservato/", target: "_blank" %>
		  <%= link_to (image_tag "social_icons/twitter.png", :title => "Twitter"), "https://twitter.com/nonriservato", target: "_blank" %>
		  <%# link_to (image_tag "social_icons/pinterest.png", :title => "Pinterest"), "https://www.pinterest.com/nonriservato/", :target => "_blank" %>
		  <%# link_to (image_tag "social_icons/youtube.png", :title => "Youtube"), "#", :target => "_blank" %>
		  <%= link_to (image_tag "social_icons/newsletter.png", :title => "Newsletter"), "http://eepurl.com/bo2dmv", target: "_blank" %>
		</div>
	</div>

	<%= yield :header_banner %>
</div>

<div class="grid_12">
	<%= render 'shared/language_selector' %>
</div>

<div class="grid_12">
	<div id='cssmenu'>
    <ul class="nav">
       <li><%= link_to('Home', root_path, class: is_active?("home")) %></li>
       <li class='has-sub'><a href='#'><span>About</span></a>
          <ul>
						 <li><%= link_to t('.what_we_are'), page_path('who_we_are') %></li>
             <li><%= link_to t('.who_we_are'), page_path('chi-siamo') %></li>
             <li><%= link_to t('.manifesto'), page_path('manifesto') %></li>
             <li><%= link_to t('.thanks'), page_path('thanks') %></li>
						 <li><%= link_to t('.head_office'), page_path('sede') %></li>
             <li><%= link_to t('.contacts'), page_path('contacts') %></li>
          </ul>
       </li>
       <li><%= link_to t('.calendar'), events_path, class: is_active?("events") %></li>
       <li class='has-sub'>
				 <%= link_to(t('.projects'), projects_path, class: is_active?("projects")) %>
         <ul>
           <li><%= link_to t('.projects'), projects_path, class: is_active?("projects") %></li>
           <li><%= link_to t('.maps'), 'http://maps.nonriservato.net/', target: '_blank' %></li>
         </ul>
       </li>
       <li><%= link_to('Network', organizations_path, class: is_active?("organizations")) %></li>
       <li><%= link_to(t('.support_us'), page_path('support-us')) %></li>
       <li class='has-sub'>
				 <%= link_to(t('.services'), '#') %>
          <ul>
             <li><%= link_to(t('.lectures'), page_path('formazione')) %></li>
             <li><%= link_to(t('.commissioned_projects'), page_path('commissione')) %></li>
             <li><%= link_to(t('.creative_workshops'), workshops_path, class: is_active?("workshops")) %>
             <li><%= link_to('Gallab', page_path('shop')) %></li>
						 <%= link_to t('.sponsor'), page_path('sponsorizza'), class: 'last'%>
          </ul>
       </li>
       <li class='last right'><a href='/posts' class='<%= is_active?("posts") %>'><span>Blog</span></a></li>
    </ul>
   </div>
</div>
