<%# content_for :header_banner do %>
    <%# link_to (image_tag "banner_cf.png", :class => "banner_cf"), "https://bando.che-fare.com/progetti-approvati/non-riservato/", :target => "_blank" %>
<%# end %>

<% if @highlights.empty? %>
  <div class="spacer grid_12">&nbsp; </div>
<% else %>
<div id="slider" class="grid_12">
   <ul class="bxslider">
   <% @highlights.each do |h| %>
      <%= render :partial => "events/featured_event", :locals => { :event => h.get_parent, :h => h, :hos => @highlights} if (h.highlightable_type == "Event" && !h.get_parent.nil?) %>
      <%= render :partial => "posts/featured_post", :locals => { :post => h.get_parent, :h => h, :hos => @highlights} if (h.highlightable_type == "Post" && !h.get_parent.nil?) %>
      <%= render :partial => "projects/featured_project", :locals => { :project => h.get_parent, :h => h, :hos => @highlights} if (h.highlightable_type == "Project" && !h.get_parent.nil?) %>
      <%= (h.highlightable_type == "Project" && !h.get_parent.nil?) %>
      <%= (h.highlightable_type == "Project") %>
      <%= h.get_parent.nil?  %>
      <%= h.highlightable_type %>
   <% end %>
   </ul>
</div>
<% end %>

<!-- <div class="grid_7 gallab_home_b">
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KWK5DQHAA83UQ" target="_blank"><%= image_tag "gallab_button.png" %></a>
</div> -->



<div class="grid_12 nr_definition">
  Laboratorio permanente per la <strong>socialità creativa</strong> negli <strong>spazi pubblici</strong>.<br>
  Interventi urbani, arte, sport, giochi, gardening, workshop.
</div>


<div class="grid_12 nr_definition">
  <%= link_to (image_tag "banner-borderlight.jpg", :class => "banner"), "https://it.surveymonkey.com/r/borderlight" %>
</div>


<div class="grid_12 body">
   <% unless @events.blank? %>
   <div class="sort_bar">
      <span>Calendario</span> 
   </div>
   <%= render "events/event" %>   
   <% end %>
</div>

<div class="grid_12 body">
   <% unless @posts.blank? %>
   <div class="sort_bar">
      <span>Aggiornamenti</span> 
   </div>
   <%= render "posts/post" %>   
   <% end %>
</div>