<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :organization_id %><br />
    <%= f.number_field :organization_id %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :date_begun %><br />
    <%= f.date_select :date_begun %>
  </div>
  <div class="field">
    <%= f.label :date_ended %><br />
    <%= f.date_select :date_ended %>
  </div>
  <div class="field">
    <%= f.label :zone %><br />
    <%= f.text_field :zone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
