<div class="grid_7">
   <%= link_to new_admin_project_path, class: 'big_add_new o_2' do %>
     <%= t('.project') %>
     <div><%= t('.add_project') %></div>
   <% end %>
   <p class="uppercase_divider">
     <%= t('.modify_existing') %>
   </p>
   <%= render '/projects/project' %>
</div>
