<div class="grid_12 contacts">
   <div class="banner_projects">
       <%= image_tag "banner_organizzazioni.jpg", :title => "organizzazioni" %>
   </div>
</div>

<div class="grid_12">
   <h1>Thanks</h1>
   
   <div class="page_main">
      <p>Non Riservato è realizzato con il contributo di:<br><br>

      <%= link_to (image_tag "logo_cariplo.jpg", :class => "cariplo"), "http://www.fondazionecariplo.it"  %><br><br>

      <b>Partner istituzionale:</b><br><br>
         <%= link_to (image_tag "logo_comune_milano.png"), "http://www.comune.milano.it" %>
      </p>


      <p><b>Soci sostenitori:</b> <br>

      <%= link_to "I Servi di Scena", "http://www.teatrolamadrugada.com" %><br>
      <%= link_to "Asd e PS Playmore", "www.playmore.it" %></p>


      <p><b>Donors:</b> <br>
      Roberta Biba Acquati, Stefano Adami, Alessandra Arnò, Andrea Baccalini, Ivano Baldari, Francesca Bellettini, Andrea Biffi, Andrea Bortolossi, Francesca Crisafulli, Claudia Fredella, Maria Vittoria Gatti, Andrea Mazzacavallo, Lorenzo Mirosi, Stefania Nano, Paolo Percaus, Marco Peron, Alessandra Piolotto, Sabrina Savoca, Davide Scafidi, Irina Sliteli, Oliviero Venturi</p>
      
   </div>

</div>




