<%= semantic_form_for([:admin, @post]) do |f| %>
  <%= f.inputs do %>
    <%= f.input :title, placeholder: "Titolo del post", wrapper_html: {class: ''} %>
    <%= f.input :date_published, as: :ui_date_picker, wrapper_html: {class: 'quarter'} %>
    <%= f.input :summary, input_html: { class: 'autogrow', rows: 3, counter: 200 }, wrapper_html: {class: 'countit'} %>
    <%= f.input :body, input_html: { class: 'autogrow', rows: 20  } %>

    <% unless @post.image.nil? %>
      <div class="post_image">
        <%= image_tag @post.image(:thumb) %>
      </div>
    <% end %>

    <%= f.input :image, label: "Carica immagine", wrapper_html: {class: "half extra_hint"} %>

  <% end %>
  <%= f.action :submit %>
<% end %>
<%= button_to t('.destroy'), admin_post_path(@post), class: "delete", confirm: t('.confirm'), method: :delete unless @post.new_record? %>
