<div class="grid_12">
  <div class="banner_organizzazioni">
    <%= image_tag "banner_organizzazioni.jpg", :title => "organizzazioni" %>
    <div>organizzazioni non riservate</div>
  </div>

  <div class="intro">
    <%# markdown_d t('.intro_text_html') %>
    <%= t('.intro_text_html') %>
  </div>

  <% if params[:locale] == 'en' %>
    <div class="intro">
      <p>
        <%= link_to 'Discover the network', organizations_path(locale: :it) %> (This page is only available in Italian)
      </p>
    </div>
  <% else %>
    <div class="sort_bar">
      <span>Ordina per:</span> <%= sort_link @search, :name, "Nome" %>
    </div>
    <%= render "organizations/organization" %>
  <% end %>
</div>
