<div class="grid_4">
   <% if admin? %>
   <div class="box_dashboard admin">
      <h3><%= t('website') %></h3>

      <%= link_to new_organization_invitation_path, class: 'big_add_new o_8' do %>
         <h2><%= t('activerecord.models.organization') %></h2>
         <div class="subtext"><%= t('.sub_invite_organization') %></div>
      <% end %>

      <%= link_to new_admin_post_path, class: 'big_add_new o_8' do %>
        <h2><%= t('activerecord.models.post') %></h2>
        <div class="subtext"><%= t('.sub_add_post') %></div>
      <% end %>

      <%= link_to new_admin_workshop_path, class: 'big_add_new o_8' do %>
         <h2><%= t('activerecord.models.workshop') %></h2>
         <div class="subtext"><%= t('.sub_add_workshop') %></div>
      <% end %>
   </div>
   <% end %>

  <div class="box_dashboard">
    <h3><%= t('.content') %></h3>
    <%= link_to new_admin_project_path, class: 'big_add_new o_2' do %>
      <h2><%= t('activerecord.models.project') %></h2>
      <div class="subtext"><%= t('.sub_add_project') %></div>
    <% end %>

    <%= link_to new_admin_event_path, class: 'big_add_new o_3' do %>
       <h2><%= t('activerecord.models.event') %></h2>
       <div class="subtext"><%= t('.sub_add_event') %></div>
    <% end %>
  </div>
</div>
